@import url(./variables.css);
@import url(./animation.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    scroll-behavior: smooth;
    color: var(--primary-text-color);
    position: relative;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--primary-text-color);
}

button,
input {
    border: none;
    outline: none;
}

a:visited {
    color: #000;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

fieldset {
    border: none;
}

.layout-container {
    max-width: 1680px;
    margin: 0 auto;
}

.spacing {
    padding: 30px 0;
}

.section-title {
    text-align: center;
    font-size: 22.4px;
    margin: 20px 0;
    text-transform: uppercase;
}

.grid-7-col {
    grid-template-columns: repeat(7, 1fr) !important;
}

.grid-8-col {
    grid-template-columns: repeat(8, 1fr) !important;
}

.section-title {
    font-family: var(--primary-font);
    font-size: 23.8px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}

.active {
    display: block !important;
}

.cart-dropdown-opened {
    display: flex !important;
}

.toast {
    position: fixed;
    width: fit-content;
    display: flex;
    gap: 30px;
    background-color: #fff;
    border-left: 5px solid #47d864;
    padding: 15px 20px;
    z-index: 99;
    right: 20px;
    top: 60px;
    box-shadow: 0 0 8px #ccccccb0;
    animation: slideFromLeft 0.5s ease-in-out;
}

.toast[data-state="success"] {
    border-left: 5px solid #47d864;
}

.toast[data-state="failure"] {
    border-left: 5px solid #e30000;
}

.toast[data-state="warning"] {
    border-left: 5px solid yellow;
}

.toast > .toast-state-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.toast[data-state="success"] > .toast-state-icon {
    color: #47d864;
}

.toast[data-state="failure"] > .toast-state-icon {
    color: #e30000;
}

.toast[data-state="warning"] > .toast-state-icon {
    color: yellow;
}

.toast > .toast-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}

.cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    background-color: #000;
    opacity: 0.5;
}
