@import url(./variables.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font)
}

body {
    scroll-behavior: smooth;
    color: var(--primary-text-color);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--primary-text-color);
}

a:visited {
    color: #000;
}

img {
    width: 100%;
    height: 100%;
}

fieldset {
    border: none;
}

.layout-container {
    max-width: 1680px;
    margin: 0 auto;
}

.spacing {
    padding: 30px 0;
}

.section-title {
    text-align: center;
    font-size: 22.4px;
    margin: 20px 0;
    text-transform: uppercase;
}

.grid-7-col {
    grid-template-columns: repeat(7, 1fr) !important;
}

.grid-8-col {
    grid-template-columns: repeat(8, 1fr) !important;
}

.section-title {
    font-family: var(--primary-font);
    font-size: 23.8px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
}