@import url(./variables.css);

/* HEADER */

.header {
    padding: 5px 0;
}

.header-logo img {
    max-height: 48px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-content-tools {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-content-tools > .tools-search {
    position: relative;
}

.right-content-tools > .tools-search > .search-box {
    min-width: 280px;
    font-size: 15px;
    padding: 8px 10px;
    background-color: var(--input-box-bg);
    border: 0;
    outline: 0;
}

.tools-search > .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-content-tools > .tools-cart,
.right-content-tools > .tools-user .right-content-contact > span {
    font-size: 14px;
}

.right-content-tools > .tools-cart,
.right-content-tools > .tools-user {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--header-tools-border);
    border-radius: 50%;
}

.right-content-tools .tools-user-container,
.right-content-tools > .tools-cart {
    position: relative;
}

.right-content-tools > .tools-cart,
.right-content-tools .tools-user-btn {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--header-tools-border);
    border-radius: 50%;
}

.right-content-tools > .tools-cart > .cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
    border-radius: 50%;
    padding: 10px 5px;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 15px;
}

.right-content-tools .tools-user-btn {
    background-color: #fff;
}

.tools-user-container > .tools-user-dropdown,
.tools-cart > .cart-dropdown-menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    border-top: 3px solid #0097b2;
    z-index: 999;
}

.tools-user-container > .tools-user-dropdown {
    width: 220px;
    margin-top: 10px;
    right: 0;
    display: none;
}

.tools-user-container > .tools-user-dropdown .dropdown-user-email {
    padding: 12px 15px;
    border-bottom: 2px solid #ccc;
}

.tools-user-container > .tools-user-dropdown .dropdown-user-email span {
    font-weight: 500;
}

.tools-cart > .cart-dropdown-menu {
    width: 380px;
    flex-direction: column;
    top: 42px;
    right: 0;
    display: none;
}

.tools-user-container > .tools-user-dropdown::before,
.tools-cart > .cart-dropdown-menu::before {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: #0097b2;
    position: absolute;
    top: -14px;
    right: 10px;
}

.cart-dropdown-menu > .dropdown-product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.cart-dropdown-menu .cart-product-wrapper {
    display: flex;
    gap: 40px;
}

.cart-dropdown-menu .cart-product-wrapper > .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-dropdown-menu .cart-product-wrapper > .product-image > img {
    width: 40px;
    height: 40px;
}

.cart-dropdown-menu .cart-product-wrapper > .product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.5;
}

.cart-product-wrapper > .product-info > .product-name {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cart-dropdown-menu > .cart-btn-container {
    display: flex;
    justify-content: space-between;
    background-color: #edf2f5;
    padding: 20px 30px;
}

.cart-dropdown-menu > .cart-btn-container > button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
}

.cart-dropdown-menu > .cart-btn-container > button:hover {
    background-color: #303030 !important;
    transition: 0.3s;
}

.cart-dropdown-menu > .cart-btn-container > .btn-watch-cart {
    background-color: #777;
}

.cart-dropdown-menu > .cart-btn-container > button > a {
    color: #fff;
}

.cart-dropdown-menu > .cart-btn-container > .btn-order {
    background-color: var(--primary-btn-color);
}

.tools-user-dropdown > .dropdown-user-info > .dropdown-link {
    font-size: 14px;
    padding: 12px 15px;
}

.tools-user-dropdown > .dropdown-user-info > .dropdown-link:hover {
    text-decoration: underline;
    color: #0097b2;
}

.tools-user-dropdown > .dropdown-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #f7f9fa;
}

.dropdown-btn-wrapper > .dropdown-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
}

.dropdown-btn-wrapper > .dropdown-btn > a {
    color: #fff;
}

.tools-user-dropdown > .dropdown-btn-wrapper > .dropdown-btn:hover {
    color: #fff;
    background-color: #2f2f2f;
    transition: 0.3s;
}

.dropdown-btn-wrapper > .dropdown-btn.signup {
    background-color: #777;
}

.dropdown-btn-wrapper > .dropdown-btn.signin,
.dropdown-btn-wrapper > .dropdown-btn.logout {
    background-color: var(--primary-btn-color);
}

.right-content-contact > .contact-phone {
    font-size: 17px;
    color: var(--red-color);
    letter-spacing: 0.4px;
}

/*  */

/* NAVBAR */

.navbar {
    box-shadow: var(--nav-box-shadow);
    padding: 3px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.navbar-list-link {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: var(--nav-link-color);
}

.navbar-list-link > .list-link-item {
    position: relative;
    padding: 10px 20px;
    border: var(--nav-unhovered-border);
}

.navbar-list-link > .list-link-item > a {
    color: var(--nav-link-color);
}

.navbar-list-link > .list-link-item:hover {
    border-top: var(--nav-hovered-border);
    transition: 0.3s;
}

.navbar-list-link > .list-link-item:hover .subnav {
    display: flex;
    transition: 0.3s;
}

.subnav {
    position: absolute;
    gap: 50px;
    box-shadow: var(--subnav-box-shadow);
    left: 0;
    top: 41px;
    padding: 20px;
    padding-right: 75px;
    white-space: nowrap;
    z-index: 999;
    display: none;
    background-color: #fff;
}

.subnav-list > .subnav-list-category {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}

.subnav .subnav-list-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
    font-weight: 400;
}

.subnav-list > .subnav-list-category:hover,
.subnav .subnav-list-link > .link-item > a:hover {
    transition: 0.3s;
    opacity: 0.4;
}

/*  */

/* BANNER */

.banner-container {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.banner-container > .banner-image:first-child {
    grid-row: span 2;
    margin-right: 20px;
}

.banner-container > .banner-image:last-child {
    margin-top: 10px;
}

.banner-image > img {
    border-radius: 10px;
}

/*  */

/* CATEGORY */

.category-container {
    margin: 0 30px;
}

.category-list {
    display: grid;
    gap: 25px;
}

.category-list > .category-list-item {
    border-radius: 10px;
    box-shadow: var(--category-item-bs);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-list > .category-list-item:hover {
    transition: 0.3s;
    box-shadow: var(--category-item-hovered-bs);
}

.category-list > .category-list-item:hover .item-name {
    transition: 0.3s;
    color: var(--text-hovered);
}

.category-list-item > .item-link {
    display: inline-block;
    text-align: center;
}

.category-list-item > .item-link > .item-name {
    font-size: 13px;
    margin: 10px 0;
    font-weight: 500;
}

.category-list-item > .item-link > .item-image {
    width: 90%;
    height: 90%;
}

/*  */

/* BANNER OFFER */

.banner-offer-list {
    display: flex;
    gap: 20px;
}

.offer-list-item > .item-link > .item-img {
    border-radius: 10px;
}

/*  */

/* PRODUCTS */

.product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.product-list > .product-list-item {
    border: var(--product-item-border);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-list-item > .item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.product-list-item > .item-link > span {
    display: inline-block;
    font-size: 14px;
}

.product-list-item > .item-link > .item-name {
    font-family: var(--secondary-font);
    line-height: 1.6;
}

.product-list-item .item-price {
    font-size: 15px;
    font-weight: 500;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.product-list-item > .wrapper {
    display: flex;
    justify-content: space-between;
}

.product-list-item .btn-add-to-cart {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.product-list-item .btn-add-to-cart:hover {
    color: #0097b2;
}

.product-list-item .item-price > span {
    font-size: 13px;
    opacity: 0.9;
}

.product-list-item:hover {
    box-shadow: var(--product-item-bs);
    transition: box-shadow 0.3s;
}

.product-list-item > .item-link > .item-name:hover {
    color: var(--text-hovered);
    transition: color 0.3s;
}

/*  */

/* BLOGS */

.blog-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-section > .blog-section-title {
    font-family: var(--primary-font);
    font-size: 23.8px;
    text-transform: uppercase;
    text-align: center;
}

.blog-section > .blog-section-description {
    font-size: 14px;
    text-align: center;
}

.blog-section > .blog-list {
    padding: 10px;
}

.blog-section > .blog-list > ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.blog-list > ul > .blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog > .blog-link:hover {
    color: var(--text-hovered);
    transition: 0.3s;
}

.blog > .blog-link > .blog-img {
    height: 100%;
}

.blog > .blog-link > .blog-title {
    font-size: 14px;
}

/*  */

/* TESTIMONIAL */

.testimonial.spacing {
    padding-bottom: 0;
}

.container {
    background-color: #0097b2;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container > h1,
.container > p {
    color: #fff;
    text-align: center;
}

.container > h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

/*  */

/* FOOTER */

.footer {
    background-color: var(--footer-bg-color);
    color: #fff;
    padding-bottom: 0;
}

.footer-more-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-more-info > .more-info-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
}

.footer-more-info > .more-info-container > h5 {
    font-size: 15px;
}

.footer-more-info > .more-info-container > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.more-info-container > ul > li > a {
    color: #fff;
}

.more-info-container > ul > li > a:hover {
    text-decoration: underline;
}

.more-info-container > ul > li > span {
    margin-left: 4px;
}

.footer-company {
    border-top: 1px solid #fff;
    padding: 10px;
}

.footer-company > .company-name,
.footer-company > .company-info {
    text-align: center;
}

.footer-company > .company-name {
    font-size: 20.8px;
    font-weight: 700;
    margin: 10px 0;
}

.footer-company > .company-info {
    font-size: 12px;
    margin: 5px 0;
}

/*  */
